* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.red{
  color:red;
}
.editorCreator{
    display:flex;
}
.display{
    width:50%;
    height:100vh;
    padding:10px;
    border:2px solid red;

}