.header-neon-text{
color: #fff;


  align-text:center;
  text-align:center;
  text-transform:uppercase;
  letter-spacing:3px;
  padding:10px;
  text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #0fa,
      0 0 82px #0fa,
      0 0 92px #0fa,
      0 0 102px #0fa,
      0 0 151px #0fa;
}
@media only screen and (max-width: 600px) {
    .header-neon-text{
        font-size:20px;
    }


}
.header{

    border:2px solid hsl(317 100% 54%);
    margin:10px 0px;
    border-radius:0.25em;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em;
    cursor:pointer;
    box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);
    display:flex;
    align-items:center;
    justify-content:space-around;
    height:80px;

}
.home-container{
    width:80%;
    margin:0 auto;
    margin-top:120px;
    color:red;
}

.home-post-container{
 animation: flicker 6s infinite alternate;
    cursor:pointer;
    text-align:center;
    width:400px;
    border:2px solid hsl(317 100% 54%);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em;
    box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);
    padding:10px;
    border-radius:8px;

}
.subContainer{

    height:90px;
    display:flex;
    justify-content:center;
    align-items:center;

}
.subForm{
    display:flex;

}
.subInput{
    width:300px;
    padding:10px;
    font-size:20px;
    border-radius:8px;
}
.subButton{

    padding:11px; 20px;
    font-size:20px;
    border-radius:8px;
    margin-left:40px;
    cursor:pointer;


}
.neonTextNBorder{
    background-color:black;
    color: #fff;
    align-text:center;
    text-align:center;
    padding:10px;
    text-shadow:
          0 0 7px #fff,
          0 0 10px #fff,
          0 0 21px #fff,
          0 0 42px #0fa,
          0 0 82px #0fa,
          0 0 92px #0fa,
          0 0 102px #0fa,
          0 0 151px #0fa;
    border:2px solid hsl(317 100% 54%);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em;
    box-shadow: inset 0 0 0.5em 0 hsl(317 100% 54%), 0 0 0.5em 0 hsl(317 100% 54%);

}


