<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <title>Java DSA</title>
    <meta name="description" content="Learn about data structures and algorithms in Java" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="/css/blogPostEditor.css" />
    <script src="/javascript/blogPostEditor.js" defer></script>
</head>

<body>
<div class="editorCreator">
    <form>

        <textarea id="my_text_area" name="story"
                  rows="55" cols="90">
</textarea>
    </form>
    <div id="editDisplay" class="display">

    </div>

</div>

<script th:inline="javascript">
/*<![CDATA[*/

    var message = /*[[${test}]]*/
    console.log(message);
    const textArea = document.getElementById('my_text_area');
    const editDisplay = document.getElementById('editDisplay');

textArea.addEventListener('input', () => {

    editDisplay.innerHTML = textArea.value;

})

/*]]>*/
</script>

</body>
</html>